<a href="https://colab.research.google.com/github/valen500/semi-progralll-2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 5
num2 =8.9
suma =num1 + num2
print ("la suma es: ",suma)

In [ ]:
num1 =float (imput("num1:"))
num2 =float(input("num2:"))
suma =num1 + num2
print ("la suma es: ",suma

hola mundo

Tipos de datos en python

In [ ]:
#Entero
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#booleano
esMayor = True
print(esMayor, "Esto es un booleano")

#cadena
nombre = "Brian Alvarado"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: hello
Dime un valor: 5
Brian Alvarado Esto es una cadena hello
Brian Alvarado Letra inicial B Un valor especifico   rango Bria Comenzar desde el final o
 Alvarado Bria
<class 'str'>
2025-07-29 01:29:56.602588 2025-07-29 01:29:56.602588
<class 'datetime.datetime'>

In [ ]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 01:31:20.593473 2025-07-29 01:31:20.593473
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 22-06-2006
2006-06-22 00:00:00

Funciones en python

In [ ]:
#Suma
def suma(num1, num2):
  return num1 + num2

  print("La suma de 5 + 8 = ", suma(5,8))

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 2
Num2: 5
La suma es:  7.0

Tarea de restar dos numeros usando funciones introducidos por el usuario

In [ ]:
def restar():
    num1 = float(input("Primer número: "))
    num2 = float(input("Segundo número: "))
    print("Resultado:", num1 - num2)

restar()

Primer número: 5
Segundo número: 1
Resultado: 4.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario,que convierta grados celsius a farenheit
def celsius_a_farenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
c = int(input("grados c: "))
f = (c * 9/5) + 32
print("grados f:", f)

grados c: 65
grados f: 149.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario,que convierta grados farenheit a celsius
def farenheit_a_celsius(farenheit):
    return (farenheit - 32) * 5/9

f = float(input("grados farenheit: "))
print("Grados Fahrenheit escritos:", f)

c = farenheit_a_celsius(f)

print("Equivalente en grados Celsius:", round(c, 2))

grados farenheit: 100.4
Grados Fahrenheit escritos: 100.4
Equivalente en grados Celsius: 38.0

In [ ]:
#hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celsius a kelvin
def celsius_a_kelvin(c):
    return c + 273.15


c = float(input(" grados Celsius: "))
print("Grados Celsius escritos :", c)


k = celsius_a_kelvin(c)


print("resultados en grados Kelvin:", round(k, 2))

 grados Celsius: 12
Grados Celsius escritos : 12.0
resultados en grados Kelvin: 285.15

In [ ]:
#hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule el sueldo de un empleado,  segun el numero de horas trabajadas y el valor
def calcular_sueldo(horas, valor_por_hora):
    return horas * valor_por_hora


horas_trabajadas = float(input(" número de horas trabajadas: "))
valor_hora = float(input("  valor por hora en dólares: "))


sueldo = calcular_sueldo(horas_trabajadas, valor_hora)


print("El sueldo total del empleado es: $", round(sueldo, 2))

 número de horas trabajadas: 8
  valor por hora en dólares: 5
El sueldo total del empleado es: $ 40.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a Farenheit.
def celsiusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 45
F:  113.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celsius.
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 43
C:  6.111111111111111

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Celsius a Kelvin.
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 5
K:  278.15

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado, segun el numero de hrs trabajas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
Valor Xhr: 10
Sueldo:  2400.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 54
Exponente: 4
El Numero:  54.0 , elevado a  4.0 , el resultado es:  8503056.0

FUNCIONES ANONIMAS

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

Num1: 4
Num2: 4
La suma es:  8.0

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 5
Num2: 5
La suma de  5.0  mas b  5.0  es igual  10.0

FUNCIONES PRECONSTRUIDAS

In [ ]:

def extraerPrimeraLetra(dia):
  return dia[0]

In [ ]:
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [ ]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 4
[16, 256, 1296, 4096, 2401, 6561]

In [ ]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [ ]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 5,3,2,3
Pares:  ['2']
Impares:  ['5', '3', '3']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [ ]:
entrada = input("Introducir las notas separadas por espacios: ")
notas = list(map(float, entrada.split()))
aprobados = list(filter(lambda x: x >= 6, notas))
reprobados = list(filter(lambda x: x < 6, notas))
print(f"Aprobados ({len(aprobados)}): {aprobados}")
print(f"Reprobados ({len(reprobados)}): {reprobados}")

Introducir las notas separadas por espacios: 5 3 4 3
Aprobados (0): []
Reprobados (4): [5.0, 3.0, 4.0, 3.0]

In [ ]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13

TUPLAS

In [1]:
tupla = (5,2,3,7,8,5)
#tupla[0] = 1
print("Tupla: ", tupla, "Primer elemento: ", tupla[0], "El numero 5 parece ", tupla.count(5))
print("Ultimo elemento: ", tupla[-1])
print("Rango: ", tupla[0:5])

Tupla:  (5, 2, 3, 7, 8, 5) Primer elemento:  5 El numero 5 parece  2
Ultimo elemento:  5
Rango:  (5, 2, 3, 7, 8)

In [2]:
import datetime
fecha = datetime.date.today()

semana = ("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado")
meses = ("", "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre")
dia = fecha.day
mes = fecha.month
year = fecha.year
diaSemana = semana[fecha.isoweekday()]

print(diaSemana, dia, "del", meses[mes], "del", year)
print(fecha, fecha.isoweekday(), diaSemana)
print(dia, mes, year)

Martes 19 del Agosto del 2025
2025-08-19 2 Martes
19 8 2025

Listas

In [3]:
lista = [5,8,9,4, "Progra III", True, [4,8,9, [8,9,4]]]
print(lista)

[5, 8, 9, 4, 'Progra III', True, [4, 8, 9, [8, 9, 4]]]

In [4]:
def calcularPromedio(nota, notas):
  return notas[1]*notas[2] + nota # 8*0.3 + 9*0.3 + 10*0.3

In [5]:
#Hacer un ejercicio en python que obtenga la nota final de Progra III del computo I, haciendo uso de las listas y de las funciones.
from functools import reduce

notas = [["Lab1", 8, 0.3], ["Lab2", 9, 0.3], ["Parcial", 10, 0.4]]
prom = reduce(calcularPromedio, notas, 0)
print("Nota Final: ", prom)

Nota Final:  9.1

Ejercicios practicos

In [13]:
#calcular el valor de pagar segun metros consumidos
def calcular_pago(consumo):
    if consumo <= 18:
        return 6  # cuota fija
    elif consumo <= 28:
        exceso = consumo - 18
        return 6 + exceso * 0.45
    else:
        exceso_19_28 = 10 * 0.45  # siempre 10 m³ entre 19 y 28
        exceso_29_en_adelante = (consumo - 28) * 0.65
        return 6 + exceso_19_28 + exceso_29_en_adelante



try:
    consumo = int(input("Ingrese el consumo de agua en m³: "))
    pago = calcular_pago(consumo)
    print(f"El total a pagar por {consumo} m³ de agua es: ${pago:.2f}")
except ValueError:
    print("Por favor ingrese un número válido.")

Ingrese el consumo de agua en m³: 25
El total a pagar por 25 m³ de agua es: $9.15

Conversores 10 items cada uno

In [ ]:
def menu():
    print("\n=== Conversores ===")
    print("1. Monedas")
    print("2. Longitud")
    print("3. Masa")
    print("4. Almacenamiento")
    print("5. Tiempo")
    print("6. Volumen")
    print("7. Área")
    print("8. Salir")


# ==============================
# CONVERSOR GENERAL (origen → destino)
# ==============================
def convertir(unidades, nombre):
    print(f"\n--- Conversor de {nombre} ---")
    # Mostrar unidades disponibles
    for i, u in enumerate(unidades.keys(), start=1):
        print(f"{i}. {u}")

    #  origen y destino
    origen = int(input("\nSeleccione la unidad de ORIGEN: "))
    destino = int(input("Seleccione la unidad de DESTINO: "))
    cantidad = float(input("Ingrese cantidad: "))

    claves = list(unidades.keys())
    if 1 <= origen <= len(claves) and 1 <= destino <= len(claves):
        u_origen = claves[origen - 1]
        u_destino = claves[destino - 1]

        # conversión relativa a la unidad base (la primera en el diccionario)
        base = list(unidades.values())[0]
        valor_base = cantidad * (unidades[u_origen] / base)
        convertido = valor_base / (unidades[u_destino] / base)

        print(f"\n{cantidad} {u_origen} = {convertido:.4f} {u_destino}")
    else:
        print("Opción inválida")


# ==============================
# CONVERSORES ESPECÍFICOS
# ==============================
def monedas():
    unidades = {
        "Dólares": 1.0,
        "Euros": 0.92,
        "Libras": 0.78,
        "Pesos Mexicanos": 16.7,
        "Yenes": 146.0,
        "Colones (SV)": 8.75
    }
    convertir(unidades, "Monedas")


def longitud():
    unidades = {
        "Metros": 1.0,
        "Kilómetros": 1000.0,
        "Centímetros": 0.01,
        "Milímetros": 0.001,
        "Pies": 0.3048,
        "Pulgadas": 0.0254
    }
    convertir(unidades, "Longitud")


def masa():
    unidades = {
        "Kilogramos": 1.0,
        "Gramos": 0.001,
        "Libras": 0.453592,
        "Onzas": 0.0283495,
        "Toneladas": 1000.0
    }
    convertir(unidades, "Masa")


def almacenamiento():
    unidades = {
        "Bytes": 1.0,
        "Kilobytes": 1024.0,
        "Megabytes": 1024.0**2,
        "Gigabytes": 1024.0**3,
        "Terabytes": 1024.0**4,
        "Bits": 1.0 / 8
    }
    convertir(unidades, "Almacenamiento")


def tiempo():
    unidades = {
        "Segundos": 1.0,
        "Minutos": 60.0,
        "Horas": 3600.0,
        "Días": 86400.0,
        "Semanas": 604800.0,
        "Meses (30d)": 2592000.0,
        "Años (365d)": 31536000.0
    }
    convertir(unidades, "Tiempo")


def volumen():
    unidades = {
        "Litros": 1.0,
        "Mililitros": 0.001,
        "Metros cúbicos": 1000.0,
        "Galones": 3.785,
        "Pulgadas cúbicas": 0.016387,
        "Barriles": 159.0
    }
    convertir(unidades, "Volumen")


def area():
    unidades = {
        "Metros²": 1.0,
        "Centímetros²": 0.0001,
        "Kilómetros²": 1e6,
        "Hectáreas": 10000.0,
        "Pies²": 0.092903,
        "Acres": 4046.86,
        "Tareas (SV)": 628.86,
        "Manzanas (SV)": 6987.4
    }
    convertir(unidades, "Área")


# ==============================
# PROGRAMA PRINCIPAL
# ==============================
while True:
    menu()
    opcion = int(input("Elija una opción: "))

    if opcion == 1: monedas()
    elif opcion == 2: longitud()
    elif opcion == 3: masa()
    elif opcion == 4: almacenamiento()
    elif opcion == 5: tiempo()
    elif opcion == 6: volumen()
    elif opcion == 7: area()
    elif opcion == 8:
        print("Saliendo del programa...")
        break
    else:
        print("Opción inválida")

=== Conversores ===
1. Monedas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Área
8. Salir
Elija una opción: 1

--- Conversor de Monedas ---
1. Dólares
2. Euros
3. Libras
4. Pesos Mexicanos
5. Yenes
6. Colones (SV)

Seleccione la unidad de ORIGEN: 1
Seleccione la unidad de DESTINO: 2
Ingrese cantidad: 1

1.0 Dólares = 1.0870 Euros

=== Conversores ===
1. Monedas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Área
8. Salir