<a href="https://colab.research.google.com/github/valen500/semi-progralll-2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 5
num2 =8.9
suma =num1 + num2
print ("la suma es: ",suma)

In [ ]:
num1 =float (imput("num1:"))
num2 =float(input("num2:"))
suma =num1 + num2
print ("la suma es: ",suma

hola mundo

Tipos de datos en python

In [ ]:
#Entero
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#booleano
esMayor = True
print(esMayor, "Esto es un booleano")

#cadena
nombre = "Brian Alvarado"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: hello
Dime un valor: 5
Brian Alvarado Esto es una cadena hello
Brian Alvarado Letra inicial B Un valor especifico   rango Bria Comenzar desde el final o
 Alvarado Bria
<class 'str'>
2025-07-29 01:29:56.602588 2025-07-29 01:29:56.602588
<class 'datetime.datetime'>

In [ ]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 01:31:20.593473 2025-07-29 01:31:20.593473
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 22-06-2006
2006-06-22 00:00:00

Funciones en python

In [ ]:
#Suma
def suma(num1, num2):
  return num1 + num2

  print("La suma de 5 + 8 = ", suma(5,8))

In [ ]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 2
Num2: 5
La suma es:  7.0

Tarea de restar dos numeros usando funciones introducidos por el usuario

In [ ]:
def restar():
    num1 = float(input("Primer número: "))
    num2 = float(input("Segundo número: "))
    print("Resultado:", num1 - num2)

restar()

Primer número: 5
Segundo número: 1
Resultado: 4.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario,que convierta grados celsius a farenheit
def celsius_a_farenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
c = int(input("grados c: "))
f = (c * 9/5) + 32
print("grados f:", f)

grados c: 65
grados f: 149.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario,que convierta grados farenheit a celsius
def farenheit_a_celsius(farenheit):
    return (farenheit - 32) * 5/9

f = float(input("grados farenheit: "))
print("Grados Fahrenheit escritos:", f)

c = farenheit_a_celsius(f)

print("Equivalente en grados Celsius:", round(c, 2))

grados farenheit: 100.4
Grados Fahrenheit escritos: 100.4
Equivalente en grados Celsius: 38.0

In [ ]:
#hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celsius a kelvin
def celsius_a_kelvin(c):
    return c + 273.15


c = float(input(" grados Celsius: "))
print("Grados Celsius escritos :", c)


k = celsius_a_kelvin(c)


print("resultados en grados Kelvin:", round(k, 2))

 grados Celsius: 12
Grados Celsius escritos : 12.0
resultados en grados Kelvin: 285.15

In [ ]:
#hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule el sueldo de un empleado,  segun el numero de horas trabajadas y el valor
def calcular_sueldo(horas, valor_por_hora):
    return horas * valor_por_hora


horas_trabajadas = float(input(" número de horas trabajadas: "))
valor_hora = float(input("  valor por hora en dólares: "))


sueldo = calcular_sueldo(horas_trabajadas, valor_hora)


print("El sueldo total del empleado es: $", round(sueldo, 2))

 número de horas trabajadas: 8
  valor por hora en dólares: 5
El sueldo total del empleado es: $ 40.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados celcius a Farenheit.
def celsiusFarenheit(c):
  return c*1.8 + 32

In [ ]:
c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 45
F:  113.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Farenheit a Celsius.
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 43
C:  6.111111111111111

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que convierta grados Celsius a Kelvin.
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 5
K:  278.15

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado, segun el numero de hrs trabajas y el valor por hora
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

Hrs: 8
Valor Xhr: 10
Sueldo:  2400.0

In [ ]:
#Hacer un ejercicio en python haciendo uso de funciones de usuario, que permita elevar un numero a un exponente
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 54
Exponente: 4
El Numero:  54.0 , elevado a  4.0 , el resultado es:  8503056.0

FUNCIONES ANONIMAS

In [ ]:
def suma(a,b):
  return a+b

In [ ]:
a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a,b)
print("La suma es: ", suma)

Num1: 4
Num2: 4
La suma es:  8.0

In [11]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print( "La suma de ", a, " mas b ", b, " es igual ", sum(a,b) )

Num1: 5
Num2: 5
La suma de  5.0  mas b  5.0  es igual  10.0

FUNCIONES PRECONSTRUIDAS

In [12]:

def extraerPrimeraLetra(dia):
  return dia[0]

In [13]:
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primeraLetraDia = map(lambda dia: dia[0], semana)
print(list(primeraLetraDia))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

print( list(map(extraerPrimeraLetra, semana)) )

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']
['D', 'L', 'M', 'M', 'J', 'V', 'S']

In [14]:
numeros = [2,4,6,8,7,9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 4
[16, 256, 1296, 4096, 2401, 6561]

In [15]:
ntabla  = int(input("Tabla:"))
numeros = [1,2,3,4,5,6,7,8,9,10]
tabla = map(lambda num: num*ntabla, numeros)

print(list(tabla))

Tabla:7
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [16]:
serie = [5,6,9,2,7,8]
pares = filter(lambda num: num%2==0, serie) #% ===> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num%2!=0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [17]:
serieUser = input("Serie: ") # "5,2,8,1" --> serie[0]="5"; serie[1]="2"; etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num)%2==0, serieUser)
impares = filter(lambda num: int(num)%2!=0, serieUser)

print("Pares: ",list(pares))
print("Impares: ", list(impares))

Serie: 5,3,2,3
Pares:  ['2']
Impares:  ['5', '3', '3']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [18]:
entrada = input("Introducir las notas separadas por espacios: ")
notas = list(map(float, entrada.split()))
aprobados = list(filter(lambda x: x >= 6, notas))
reprobados = list(filter(lambda x: x < 6, notas))
print(f"Aprobados ({len(aprobados)}): {aprobados}")
print(f"Reprobados ({len(reprobados)}): {reprobados}")

Introducir las notas separadas por espacios: 5 3 4 3
Aprobados (0): []
Reprobados (4): [5.0, 3.0, 4.0, 3.0]

In [19]:
#reduce
from functools import reduce

numeros = [5,4,9,6,8,2,3]
suma = reduce(lambda num, acum: num+acum, numeros)

sumaPares = reduce(lambda num, acum: num+acum, filter(lambda num: num%2==0, numeros))
sumaPar = reduce(lambda num, acum: acum + num if num%2==0 else 0, numeros) #pendiente de revisar...

print("La suma es: ", suma)
print("La suma de los pares es: ", sumaPares)
print("Suma Pares: ", sumaPar)

La suma es:  37
La suma de los pares es:  20
Suma Pares:  13