<a href="https://colab.research.google.com/github/valen500/semi-progralll-2025/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1 = 5
num2 =8.9
suma =num1 + num2
print ("la suma es: ",suma)

In [ ]:
num1 =float (imput("num1:"))
num2 =float(input("num2:"))
suma =num1 + num2
print ("la suma es: ",suma

hola mundo

Tipos de datos en python

In [3]:
#Entero
num1 = 6
print(num1, "Esto es un numero entero")
print( str(num1) + " Esto es un entero"  )

#decimal
num2 = 7.5
print(num2, "Esto es un numero decimal")

#booleano
esMayor = True
print(esMayor, "Esto es un booleano")

#cadena
nombre = "Brian Alvarado"
cadena = input("Dime una cadena: ")
valor = int(input("Dime un valor: "))
print(nombre, "Esto es una cadena", cadena[:valor])

print( nombre, "Letra inicial", nombre[0],  "Un valor especifico", nombre[5], "rango", nombre[0:4], "Comenzar desde el final", nombre[-1])
print( nombre[5:len(nombre)], nombre[:4] )
print(type(nombre))

#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

6 Esto es un numero entero
6 Esto es un entero
7.5 Esto es un numero decimal
True Esto es un booleano
Dime una cadena: hello
Dime un valor: 5
Brian Alvarado Esto es una cadena hello
Brian Alvarado Letra inicial B Un valor especifico   rango Bria Comenzar desde el final o
 Alvarado Bria
<class 'str'>
2025-07-29 01:29:56.602588 2025-07-29 01:29:56.602588
<class 'datetime.datetime'>

In [4]:
#Fecha
from datetime import datetime, date, time
fecha = datetime.now()
print(fecha, fecha.date(), fecha.time())
print(type(fecha))

fechaPersonalizada = date(2025,8,1)
print(fechaPersonalizada)

fecha = "2025-08-08"
fecha = datetime.strptime(fecha, "%Y-%m-%d")
print(fecha)

print( fecha.strftime("%d/%m/%Y"), "Regresamos a clases " )

fechaNac = input("Dime tu fecha de nacimiento en formato d-m-Y: ")
fechaNac = datetime.strptime(fechaNac, "%d-%m-%Y")
print(fechaNac)

2025-07-29 01:31:20.593473 2025-07-29 01:31:20.593473
<class 'datetime.datetime'>
2025-08-01
2025-08-08 00:00:00
08/08/2025 Regresamos a clases
Dime tu fecha de nacimiento en formato d-m-Y: 22-06-2006
2006-06-22 00:00:00

Funciones en python

In [16]:
#Suma
def suma(num1, num2):
  return num1 + num2

  print("La suma de 5 + 8 = ", suma(5,8))

In [15]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [17]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 2
Num2: 5
La suma es:  7.0

Tarea de restar dos numeros usando funciones introducidos por el usuario

In [18]:
def restar():
    num1 = float(input("Primer número: "))
    num2 = float(input("Segundo número: "))
    print("Resultado:", num1 - num2)

restar()

Primer número: 5
Segundo número: 1
Resultado: 4.0